<!DOCTYPE html>
<html>

<head>
  <title>Fake Instagram</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='/css/style.css' />
</head>

<body>
  <header>
    <div class="container header">
      <div id="logo">
        <img src="/img/logo.png">
      </div>
      <div class="busca">
        <form>
          <input type="search" class="search" placeholder="buscar usuarios">
        </form>
      </div>
      <nav>
        <a href="/publicar">
          <img src="/img/icons/plus.svg" alt="Adicionar Publicação" title="Adicionar Publicação">
        </a>
        <a href="/home">
          <img src="/img/icons/home.svg">
        </a>
        <a href="">
          <div class="avatar-content">
            <img class="avatar" src="/img/avatar-example.png">
            <b><%= user.name %></b>
          </div>
        </a>
      </nav>
    </div>
  </header>
  <main class="container content">
    <% if (publications) { %>
    <% publications.forEach(publication => { %>
    <div class="card" id="<%= publication.id %>">
      <div class="card-header">
        <div>
          <img class="avatar" src="/img/avatar-example.png">
          <b><%= publication.user.name %> </b>
        </div>
        <img src="/img/icons/more-vertical.svg">
      </div>
      <div class="card-img">
        <img src="<%= publication.image %>">
      </div>
      <div class="card-body">
        <div class="card-itens">
          <div class="likes">
            <img src="/img/icons/heart.svg">
            <b><%= publication.like %> likes</b>
          </div>
          <b>Postado no dia: <%= moment(publication.create_at).format('DD/MM/YYYY') %></b>
        </div>
        <div class="card-comments">
          <% publication.comments.forEach(comment => { %>
          <p><b><%=comment.user.username%></b> <%=comment.description %>l</p>
          <% }) %>
        </div>

      </div>
      <form class="form-comments" action="/comentar" method="post">
        <input type="text" hidden name="postId" value="<%=publication.id%>">
        <input type="text" placeholder="Adicione um comentário..." name="description">
        <button type="submit">Publicar</button>
      </form>
    </div>
    <% }) %>
    <% } %>
  </main>
</body>

</html>